//
	-var list = ['1','2','3','4'] esto declara una variable y muestra como hacer comentarios en jade
html
	head
		//- bower:css
		link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.min.css')
		//- endbower
		//- bower:js
		script(src='/lib/jquery/dist/jquery.js')
		script(src='/lib/bootstrap/dist/js/bootstrap.js')
		//- endbower
		//- inject:css
		
		link(rel="stylesheet", href="/css/bootstrap.min.css")
		
		link(rel="stylesheet", href="/css/styles.css")
		
		//- endinject
		//- inject:js
		
		script(src="/js/bootstrap.min.js")
		
		//- endinject
		
		title Mi Aplicación
	body(class='myClass')
		h1(id='MyId') Mi Aplicación		
		h3 Hola Mundo
		ul
			each val in list
				li= val